In [ ]:
#create database

In [ ]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="Hari@2699")
cur=conn.cursor()
cur.execute("create database sample")
for i in cur:
    print(i)

In [ ]:
#show databases

In [ ]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="Hari@2699")
cur=conn.cursor()
cur.execute("show databases")
for i in cur:
    print(i)

In [ ]:
#create table and tablename

In [ ]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="Hari@2699",database="sample")
cur=conn.cursor()
cur.execute("create table student_details(rollno int not null primary key, sname varchar(20) not null,branch varchar(10) not null)")
conn.close()

In [ ]:
#inserting the values into tables

In [ ]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="Hari@2699",database="sample")
cur=conn.cursor()
q="insert into student_details(rollno,sname,branch)values(%s,%s,%s)"
v=(501,"krish","cse")
try:
    cur.execute(q,v)
    conn.commit()
except:
    conn.rollback()
conn.close()

In [ ]:
#inserting the multiple values into the tables

In [ ]:
import mysql.connector
conn=mysql.connector.connect(host="localhost",user="root",passwd="Hari@2699",database="sample")
cur=conn.cursor()
q="insert into student_details(rollno,sname,branch)values(%s,%s,%s)"
v=[(502,"deju","cse"),(503,"ashok","cse"),(504,"dinesh","cse"),(505,"deva","cse"),(506,"siva","cse"),(507,"harish","cse")]
try:
    cur.executemany(q,v)
    conn.commit()
except:
    conn.rollback()
conn.close()